.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
main {
  text-align: center;
  color: #999933;
  font-size: 40px;
  margin-top: 0px;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
    margin-right: 300px;
}
.btn-box a{
    padding: 7.5px 15px;
    text-decoration: none;
    border-radius: 2px;
    background-color: #999933;
    color: #ffffff;
    border: none;
    outline: none;
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 1024px) {

}
