*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.col-6{
    float: left;
    width: 50%;
}
h1{
    color: #999933;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
}

.Signup-form{
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px none #cccccc;
    border-radius: 10px;
}

.input-box{
    margin-bottom: 10px;
}
.input-box input[type='text'],
.input-box input[type='password'],
.input-box input[type='date']{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #999933;
}
.input-box select{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #999933;
}
.input-box option{
    font-size: 16px;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
}
.btn-box a{
    padding: 7.5px 15px;
    margin-left: 5px;
    border-radius: 2px;
    background-color: #999933;
    color: #ffffff;
    border: none;
    outline: none;
}
header{
  margin-top: 0px;
  margin-left: 300px;
  margin-bottom: 5px
}
a {
  color: #999933;
  text-decoration: none;
}
